* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

/* Styling the front page */
/* Styling the header */
header {
  background-color: #37c6ce;
  position: sticky;
  top: 0; /* Sticks to the top of the viewport */
  z-index: 1000; /* Ensures it's above other content */
  padding: 10px;
  width: 100svw;
}

h1 {
  color: #fff;
  font-family: Papyrus, fantasy;
  font-size: 2rem;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Styling where the searchbar and hamburger meny will be on the page */
#search-and-hamburger {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

#search-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Styling the searchbar */
#search-input {
  text-align: center;
  margin-left: 100px;
  display: flex;
  border: none;
  font-size: 17px;
  width: 300px;
  height: 50px;
  border-radius: 10px 0px 0px 10px;
}
.news-input::placeholder {
  letter-spacing: 0.2rem;
}

#search-button {
  height: 50px;
  width: 50px;
  margin: 0;
  border: none;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#search-button svg {
  display: flex;
  width: 25px;
  height: 25px;
}

/* Styling the off-screen-menu */
.off-screen-menu {
  background-color: #1e4e56;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  transition: 0.3s ease;
}

.off-screen-menu.active {
  right: 0;
}

/* Styling the hamburger menu */
.ham-menu {
  height: 2rem;
  width: 2rem;
  position: relative;
  cursor: pointer;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

/* Animating the ham menu */
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Styling the links in the offscreen menu */
.off-screen-menu ul {
  list-style: none;
  font-family: papyrus, fantasy;
}

.off-screen-menu a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

main {
  padding: 80px;
}

/* Styling the main */
.article-container {
  display: grid;
  gap: 10px;
  width: 100%;
  justify-content: center;
  padding: 1rem;
  padding-top: 80px;
  grid-template-columns: repeat(3, 20rem);
  grid-template-rows: repeat(4, 20em);
  grid-template-areas:
    'a a a'
    'b b b'
    'b b b'
    'c c c';
}

.article-container a {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}

.article-container a:hover {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.article-container img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.article-content {
  display: grid;
  gap: 10px;
  width: 100%;
  justify-content: center;
  padding: 1rem;
  padding-top: 80px;
}

/* Ensure images scale properly */
.article-content img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Prevent stretching */
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.article img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.article a {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.article a:hover {
  color: #007bff;
  text-decoration: underline;
}

footer {
}

/* Styling the login page */
#login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background: #f3f3f3;
  flex-direction: column;
  margin: 0;
}

/* Styling the login box */
.login-page {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
}

.login-page > h1 {
  color: #37c6ce;
}

.login-page > h3 {
  color: #2f1c19;
}

.login-label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #2f1c19;
  font-weight: bold;
}

/* Styling the input fields */
.login-input {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Styling the button */
.login-button {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #37c6ce;
  width: 100%;
  font-size: 16px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling the links */
form > a:link {
  color: #37c6ce;
}

form > a:hover {
  color: #2f1c19;
}

.article-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'main-article main-article article'
    'main-article main-article article-two';
}
